@{
}
@model CRM.Models.Currency

<div class="modal fade" id="showEditModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@sharedResource["Edit Currency"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>

            <form asp-area="Admin" asp-page="/Configurations/ManageCurrency/Index" asp-page-handler="EditCurrency" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" id="id-field" />
                    <div class="row g-3">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <div class="position-relative d-inline-block">
                                    <div class="position-absolute bottom-0 end-0">
                                        <label for="Editfile" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Select Image">
                                            <div class="avatar-xs cursor-pointer">
                                                <div class="avatar-title bg-light border rounded-circle text-muted">
                                                    <i class="ri-image-fill"></i>
                                                </div>
                                            </div>
                                        </label>
                                        <input class="form-control d-none" name="Editfile" id="Editfile" type="file"
                                               accept="image/*">
                                    </div>
                                    <div class="avatar-lg p-1">
                                        <div class="avatar-title bg-light rounded-circle">
                                            <img src="~/assets/images/users/user-dummy-img.jpg" id="lead-img" class="avatar-md rounded-circle object-cover categoryImgCla" />
                                        </div>
                                    </div>
                                </div>
                                <h5 class="fs-13 mt-3">@sharedResource["Image"]</h5>
                            </div>
                            <div>
                                <label for="@Model.CurrencyTlar"
                                       class="form-label">@sharedResource["Enter Arabic Title"]</label>

                                <input data-val="true" data-val-required="@sharedResource["Enter Arabic Title"]" type="text" asp-for="@Model.CurrencyTlar" id="CurrencyTLARId"
                                       class="form-control" placeholder="@sharedResource["Enter Arabic Title"]"
                                       required />
                                <span asp-validation-for="@Model.CurrencyTlar" class="text-danger"></span>

                            </div>
                            <div>
                                <input asp-for="@Model.CurrencyId" id="HiddenId" hidden>
                                <input asp-for="@Model.CurrencyPic" id="PicHiddenId" hidden>


                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-lg-12">
                            <div>
                                <label for="@Model.CurrencyTlen"
                                       class="form-label">@sharedResource["Enter English Title"]</label>
                                <input data-val="true" data-val-required="@sharedResource["Enter English Title"]" type="text" asp-for="@Model.CurrencyTlen" id="CurrencyTLENId"
                                       class="form-control"
                                       placeholder="@sharedResource["Enter English Title"]" required />
                                <span asp-validation-for="@Model.CurrencyTlen" class="text-danger"></span>

                            </div>
                        </div>
                        
                        <!--end col-->
                        <div class="col-lg-6">
                            <div>
                                <label for="@Model.IsActive" class="form-label">@sharedResource["IsActive"]</label>
                                <input asp-for="@Model.IsActive" class="form-check-input code-switcher" type="checkbox" id="IsActiveId">
                            </div>
                        </div>
                        <!--end col-->
                        <!--end col-->
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light"
                                data-bs-dismiss="modal">
                            @sharedResource["Close"]
                        </button>
                        <button type="submit" class="btn btn-success"
                                id="add-btn">
                            @sharedResource["Save"]
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>