@{
}

@model CRM.Models.CouponType

<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-header bg-light p-3">
				<h5 class="modal-title" id="exampleModalLabel">@sharedResource["Add New Coupon Type"]</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
			</div>

			<form asp-area="Admin" asp-page="/ManageCouponType/Index" asp-page-handler="AddCouponType">
				<div class="modal-body">
					<input type="hidden" id="id-field" />
					<div class="row g-3">
						<div class="col-lg-6">
							<div>
								<label for="@Model.CouponTypeAR" class="form-label">@sharedResource["Coupon Type In Arabic"]</label>
								<input data-val="true" data-val-required="@sharedResource["Please Enter Coupon Type In Arabic"]" type="text" asp-for="@Model.CouponTypeAR" class="form-control" placeholder="@sharedResource["Enter Coupon Type In Arabic"]" required />
								<span asp-validation-for="@Model.CouponTypeAR" class="text-danger"></span>

							</div>
						</div>

						<!--end row-->
					</div>
					<div class="row g-3">
						<div class="col-lg-6">
							<div>
								<label for="@Model.CouponTypeEN" class="form-label">@sharedResource["Coupon Type In English"]</label>
								<input data-val="true" data-val-required="@sharedResource[" Please Enter Coupon Type In English"]" type="text" asp-for="@Model.CouponTypeEN" class="form-control" placeholder="@sharedResource["Enter Coupon Type In English"]" required />
								<span asp-validation-for="@Model.CouponTypeEN" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="hstack gap-2 justify-content-end">
							<button type="button" class="btn btn-light" data-bs-dismiss="modal">@sharedResource["Close"]</button>
							<button type="submit" asp-page="Index" asp-page-handler="AddCouponType" class="btn btn-success" id="add-btn">@sharedResource["Add"]</button>
						</div>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>