@page
@model CRM.Areas.Admin.Pages.Configurations.ManageItem.IndexModel
@using CRM.Data
@Html.AntiForgeryToken()
@inject PerfumeContext _context
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    Layout = "_Layout";
    ViewBag.Title = @sharedResource["Item"];
    ViewBag.pTitle = @sharedResource["Item"];
    ViewBag.pageTitle = @sharedResource["Item"];
    ViewData["Title"] = @sharedResource["Item"];
}
<!--datatable css-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" />
<!--datatable responsive css-->
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
<style>
    .dataTables_filter {
        display: none;
    }
</style>


<div class="row">
    <div class="col-lg-12">
        <div class="card" id="List">
            <div class="card-header border-0">
                <input type="text" asp-for="@Model.url" value="@Model.url" hidden id="UrlId" />

                <div class="row g-4 align-items-center">
                    <div class="col-sm-3">
                        <div class="search-box">
                            <input type="text" class="form-control search" id="txtSearch"
                                   placeholder="@sharedResource["Search for..."]">

                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-auto ms-auto">
                        <div class="hstack gap-2">

                            <button type="button" class="btn btn-success add-btn"
                                    data-bs-toggle="modal" id="create-btn"
                                    data-bs-target="#AddModal">
                                <i class="ri-add-line align-bottom me-1"></i> @sharedResource["Add"]
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="table-responsive table-card">
                        <table id="myTable" class="table  dt-responsive nowrap  align-middle" style="width:100%">
                            <thead class="table-light">
                                <tr>
                                    <th data-ordering="false">@sharedResource["Image"]</th>
                                    <th data-ordering="false">@sharedResource["Arabic Title"]</th>
                                    <th data-ordering="false">@sharedResource["English Title"]</th>
                                    <th data-ordering="false">@sharedResource["Active"]</th>
                                    <th data-ordering="false">@sharedResource["Actions"]</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>

            </div>

            <!--end modal-->
        </div>
    </div>
    <!--end col-->
</div>

<partial name="_AddPopup" model="@Model.item" view-data="ViewData" />
<partial name="_ViewPopup" model="@Model.item" view-data="ViewData" />
<partial name="_EditPopup" model="@Model.item" view-data="ViewData" />
<partial name="_DatchDelete" model="@Model.item" view-data="ViewData" />

<!--datatable js-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
@section scripts{
    <!-- list.js min js -->
    <script src="~/assets/libs/list.js/list.min.js"></script>
    <script src="~/assets/libs/list.pagination.js/list.pagination.min.js"></script>
    <!-- crm leads init -->
    <script src="~/assets/js/pages/crm-leads.init.js"></script>
}
    <script>



        function removePic(e) {
            console.log("remove pic")
            console.log(e);
            console.log(e.target.id);
            var domainUrl = document.getElementById("UrlId").value;
            fetch(domainUrl + `/Api/Lists/RemoveImageById?id=${e.target.id}`, {
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => {
                    console.log("remove from dom");
                    console.log(data);
                    var myobj = document.getElementsByClassName(data)[0];
                    myobj.remove();

                }).catch(err => {
                    console.log("error")
                })
        }

        $(document).ready(function () {
            var domainUrl = document.getElementById("UrlId").value;
            console.log("domainUrl: " + domainUrl);
            $('#myTable').DataTable({
                "dom": 'rt<"bottom"ip><"clear">',
                ajax: { url: domainUrl + '/api/Lists/GetItems' },
                columns: [

                    {
                        "data": "ItemPic",
                        "render": function (data, row) {
                            return "<img src='/" + data + "' alt='' class='avatar-xxs rounded-circle image_src object-cover'>";
                        }
                    },
                    { data: 'ItemTLAR' },
                    { data: 'ItemTLEN' },
                    {
                        data: "IsActive",

                    },
                    {
                        data: "ItemId",
                        render: function (data, type, row) {

                            return '<ul class="list-inline hstack gap-2 mb-0"> <li class="list-inline-item" data-bs-toggle="tooltip"data-bs-trigger="hover" data-bs-placement="top"title="View"><a href="javascript:void(0)" data-bs-toggle="modal"><i class="ri-eye-fill align-bottom text-muted" onclick="ShowViewPopUp(' + data + ')" ></i></a></li> <li class="list-inline-item" data-bs-toggle="tooltip"data-bs-trigger="hover" data-bs-placement="top"title="Edit" ><a class="edit-item-btn" href="javascript:void(0)"data-bs-toggle="modal" > <i class="ri-pencil-fill align-bottom text-muted" onclick="ShowEditPopUp(' + data + ')"></i> </a> </li>    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top"title="Delete"> <a class="remove-item-btn" data-bs-toggle="modal"href="javascript:void(0)" > <i class="ri-delete-bin-fill align-bottom text-muted" onclick="deleteItem(' + data + ')"></i> </a></li></ul>';

                        },
                        className: "dt-body-center"
                    },


                ],



            });
        });
        $('#txtSearch').keyup(function () {
            var table = $('#myTable').DataTable();
            //alert(table);
            table.search($(this).val()).draw();
        });


        function validateMyForm() {
            var xx = document.getElementById("imageFilePic");
            console.log("xx=" + xx);
            if (document.getElementById("file").files.length == 0) {
                alert("You Must Select Image");
                return false;
            }
            return true;
        }

        function ShowEditPopUp(ItemId) {
            $.ajax({
                type: "GET",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/Admin/Configurations/ManageItem/Index?handler=SingleItemForEdit",
                data: { "ItemId": ItemId },
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    document.getElementsByClassName('itemImgCla')[0].src = "/" + response.ItemImage
                    document.getElementById("HiddenId").value = response.ItemId
                    document.getElementById("PicHiddenId").value = response.ItemImage
                    document.getElementById("ItemTLARId").value = response.ItemTitleAr
                    document.getElementById("ItemTLENId").value = response.ItemTitleEn
                    document.getElementById("editcatId").value = response.CategoryId
                    document.getElementById("ItemDescriptionId").value = response.ItemDescriptionAr
                    document.getElementById("EItemDescriptionId").value = response.ItemDescriptionEn
                    document.getElementById("IsActiveId").checked = response.IsActive
                    document.getElementById("EOutofStock").checked = response.OutOfStock
                    document.getElementById("OrderIndexId").value = response.OrderIndex
                    document.getElementById("WeightId").value = response.Weight
                      document.getElementById("StockID").value = response.Stock
                  
                    $('#showEditModal').modal('show');
                },

                failure: function (response) {
                    alert(response);
                }
            });
            console.log('page is fully loaded');
            console.log(event);
            console.log("id= " + ItemId);
            var domainUrl = document.getElementById("UrlId").value;
            fetch(domainUrl + '/Api/Lists/GetImagesForItem?id=' + ItemId)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    var item_images = document.getElementById("item_images");
                    document.getElementsByClassName("loader")[0].remove();


                    for (const property in data) {
                        console.log(data[property]);
                        var img = document.createElement("img");
                        img.src = "/" + data[property].ImageName;
                        img.width = 150;
                        img.classList.add("m-3");
                        var div = document.createElement("div");
                        div.classList.add("position-relative");
                        div.classList.add(data[property].ItemImageId);
                        div.appendChild(img);
                        var x = document.createElement("div");
                        x.style.right = 0;
                        x.style.top = 0;
                        x.style.cursor = "pointer";
                        x.addEventListener("click", (e) => removePic(e))

                        x.classList.add("fas");
                        x.classList.add("fa-times");
                        x.classList.add("position-absolute")
                        // x.innerHTML = "x";

                        x.id = data[property].ItemImageId;
                        div.appendChild(x);

                        item_images.appendChild(div);

                    }

                    if (data.length <= 0) {
                        document.getElementsByClassName("message")[0].classList.remove("d-none");
                    }

                });
        }

        function ShowViewPopUp(ItemId) {

            $.ajax({
                type: "GET",
                url: "/Admin/Configurations/ManageItem/Index?handler=SingleItemForView",
                data: { "ItemId": ItemId },
                contentType: "application/json",
                dataType: "json",
                success: function (response) 
                {
                    //console.log(response)
                    document.getElementById("ViewPicId").src = "/" + response.item.ItemImage
                    document.getElementById("ViewTLARId").innerHTML = response.item.ItemTitleAr
                    document.getElementById("ViewTLENId").innerHTML = response.item.ItemTitleEn
                    document.getElementById("ViewIsActiveId").innerHTML = response.item.IsActive

                    if (response.item.IsActive == true) 
                    {
                        document.getElementById("ViewIsActiveId").innerHTML = "Active"
                    }
                    else 
                    {
                        document.getElementById("ViewIsActiveId").innerHTML = "Not Active"
                    }
                    const countryList = [...response.Country]
                    const itemPrice = [...response.ItemPrice]
                    const viewItemDetails = document.querySelector("#viewItemDetails");
                    let dataVewItemDetails = "";
                    const itemList = countryList.map((e) =>
                    {
                        itemPrice.forEach((ex) => 
                        {
                            if (ex.CountryId == e.CountryId)
                            {
                                e = { ...e, price: ex.Price }
                            }
                        })
                        return e;
                    })
                    itemList.forEach((e) => 
                    {
                        dataVewItemDetails +=
                           `<tr>
                                    <td class="fw-medium w-50">${e.CountryTlen ? e.CountryTlen : ""}</td>
                                    <td >${e.price ? e.price : "No Price Added"}</td>
                            </tr>`
                    })

                    viewItemDetails.innerHTML = dataVewItemDetails;

                    $('#QuickViewPoup').modal('show');

                },
                failure: function (response) 
                {
                    alert(response);
                }
            });

        }

        function deleteItem(ItemId) {
            $.ajax({
                type: "GET",
                url: "/Admin/Configurations/ManageItem/Index?handler=SingleItemForDelete",
                data: { "ItemId": ItemId },
                contentType: "application/json",
                dataType: "json",
                success: function (response) 
                {
                    document.getElementById("DeleteItemId").value = response.ItemId
                    $('#deleteRecordModal').modal('show');


                },
                failure: function (response) 
                {
                    alert(response);
                }
            });
        }

    </script>      