@page
@model CRM.Pages.TRACKINGORDERModel
@using Microsoft.EntityFrameworkCore
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    Layout = "~/Pages/UserSite/_Layout.cshtml";
}



@Html.Partial("~/Pages/UserSite/_TopBar.cshtml")


@Html.Partial("~/Pages/UserSite/_navbar.cshtml")

<style>
    .user-area .user-item {
        background-color: #F5F5F5 !important;
    }

    .theme-dark h4 a {
        color: #000 !important;
    }
</style>

<div class="page-title-wrap">
    <div class="page-title-area" style="background-color:#f5f5f5 !important;">
       
        <div class="d-table">
            <div class="d-table-cell">
                <div class="title-content">
                    <h2 class="text-black">@sharedResource["OrderTracking"]</h2>
                    <ul>
                        <li>
                            <a asp-page="/index" class="text-black">@sharedResource["HOME"]</a>
                        </li>
                        <li>
                            <span class="text-black">@sharedResource["OrderTracking"]</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="user-area ptb-100">
    <div class="container">
        <div class="user-item">
            <div class="user-shape">
                <img src="assets/images/contact-shape1.png" alt="Shape">
                <img src="assets/images/contact-shape2.png" alt="Shape">
            </div>
            <h2>Sign In</h2>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="OrderNo">
                </div>
                <button type="submit" class="btn common-btn two">Track</button>
            </form>
        </div>
    </div>
</div>
*@

<div class="user-area ptb-100">
    <div class="container">
        <div class="user-item">

            <div class="user-shape">
                <img src="~/Jeel/images/contact-shape1.png" alt="Shape">
                <img src="~/Jeel/images/contact-shape2.png" alt="Shape">
            </div>

            <h2 class="text-dark">@sharedResource["TRACKING ORDER"]</h2>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <form method="post">
                <div class="form-group">
                    <input  type="text" asp-for="@Model.SearchOrderVM.OrderSearchItem" id="SearchText" class="form-control" placeholder="@sharedResource["Enter Order"]" required>
                    <span asp-validation-for="@Model.SearchOrderVM.OrderSearchItem" class="text-danger"></span>
                </div>


                <button type="button" onclick="Search()" class="btn btn-close-white btn-light" style="border-radius: 0 ; width: 100% ;">@sharedResource["Search"]</button>

            </form>
        </div>
    </div>
</div>





<section id="trackingorderid" style="display:none" class="wishlist-section section-b-space">
    <div  class="container table-responsive p-5 rounded">

        <table class="table cart-table table-order-tracking table-striped  table-hover">
            <thead>
                <tr class="table-head">
                    <th scope="col"><p>#</p></th>
                    <th scope="col"><p>@sharedResource["Customer Name"]</p></th>
                    <th scope="col"><p>@sharedResource["Order Status"]</p></th>
                    <th scope="col"><p>@sharedResource["Address"]</p></th>
                    <th scope="col"><p>@sharedResource["Action Date"]</p></th>
                    <th scope="col"><p>@sharedResource["Remarks"]</p></th>
                </tr>
            </thead>
            <tbody id="pages">
               
            </tbody>
        </table>
                </div>
            </section>

        
    

<script>
    function Search(){
        var searchtext = document.getElementById("SearchText").value;
        console.log(typeof(searchtext))
        let data = [];
    const viewPagesName = document.querySelector("#pages");
    var isShown=false;
        if (searchtext != null && searchtext!=""){
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TRACKINGORDER?handler=SearchOrder",
                async: false,
                data: JSON.stringify(searchtext),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log(response)
                    let dataVewItemDetails = "";

                    data = [...response];
                    console.log(data)
                    var M = 0;
                    if (data != null) {
                       
                        if (isShown == false) {
                            document.getElementById("trackingorderid").style.display = "block"
                            viewPagesName.innerHTML="";
                            for (var i = 0; i < data.length; i++) {
                                M = M + 1;
                                viewPagesName.innerHTML += `

                                                                <tr>


                                                                        <td class="fw-bold">
                                                                                    <p>${i+1}</p>
                                                                        </td>

                                                                        <td class="fw-bold">
                                                                                <p>${data[i].CustomerName}</p>
                                                                        </td>

                                                                        <td class="fw-bold">
                                                                                    <p><span clas="td-color">${data[i].Status}</span></p>
                                                                        </td>

                                                                        <td class="fw-bold">
                                                                                    <p>${data[i].Address}</p>
                                                                        </td>

                                                                        <td class="fw-bold">
                                                                                    <p>${data[i].ActionDate}</p>
                                                                        </td>



                                                                                <td class="fw-bold"><p>${data[i].Remarks}</p></td>

                                                                </tr>


                             `
                               

                            }
                        }
                       

                    }


                },

                failure: function (response) {
                    alert(response);
                }

            });
        }
      

    }
</script>