@using CRM.Data
@using Microsoft.AspNetCore.Localization;
@inject PerfumeContext _context
@{
    var locale = Context.Features.Get<IRequestCultureFeature>();

    var BrowserCulture = locale.RequestCulture.UICulture.ToString();
    var Countries = _context.Country.Select(e => new { e.CountryId, e.CountryTlen,e.CountryTlar });
}
@model CRM.ViewModels.CustomerVM

<div class="modal fade" id="showCustomerAddressEditModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@(sharedResource["Edit"])</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>

            <form asp-area="Admin" asp-page="/Configurations/ManageStoredOrder/EditOrder" asp-page-handler="EditCustomerAddress" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" id="id-field" />
                    <div class="row g-3">
                        <!--end col-->
                        <div class="col-lg-12 hidden">
                            <div>
                                <input id="CustomerAddressID"  asp-for="@Model.CustomerAddressId" hidden/>
                            </div>

                            <div class="col-lg-12 hidden">
                                <div>
                                    <input id="OrderCustomerAddressID" asp-for="@Model.OrderId" hidden />
                                    @*                                <input id="CustomerAddressID"  asp-for="@Model.CustomerAddressId" hidden/>
                                    *@
                                </div>
                            </div>
                        </div>
                     
                       
                        <div class="col-lg-12">
                            <div>
                                <label for="@Model.Address" class="form-label">@sharedResource["Address"]</label>
                                <input data-val-required="@sharedResource["Enter Address"]" id="AddressId" type="text" asp-for="@Model.Address" class="form-control" placeholder="@sharedResource["Enter Address"]" required />
                                <span asp-validation-for="@Model.Address" class="text-danger"></span>
                            </div>
                        </div>


                         <div class="col-lg-12">
                            <div>
                                <label for="@Model.CityName" class="form-label">@sharedResource["CityName"]</label>
                                <input data-val-required="@sharedResource["Enter CityName"]" id="CityNameId" type="text" asp-for="@Model.CityName" class="form-control" placeholder="@sharedResource["Enter CityName"]" required />
                                <span asp-validation-for="@Model.CityName" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div>
                                <label for="@Model.AreaName" class="form-label">@sharedResource["AreaName"]</label>
                                <input data-val-required="@sharedResource["Enter AreaName"]" id="AreaNameId" type="text" asp-for="@Model.AreaName" class="form-control" placeholder="@sharedResource["Enter AreaName"]" required />
                                <span asp-validation-for="@Model.AreaName" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div>
                                <label for="@Model.BuildingNo" class="form-label">@sharedResource["BuildingNo"]</label>
                                <input data-val-required="@sharedResource["Enter BuildingNo"]" id="BuildingNoId" type="text" asp-for="@Model.BuildingNo" class="form-control" placeholder="@sharedResource["Enter BuildingNo"]" required />
                                <span asp-validation-for="@Model.BuildingNo" class="text-danger"></span>
                            </div>
                        </div>
                        
                        
                        
                        <!--end col-->
                        <!--end col-->
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light"
                                data-bs-dismiss="modal">
                            @sharedResource["Close"]
                        </button>
                        <button type="submit" class="btn btn-success"
                                id="add-btn">
                            @sharedResource["Save"]
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>