@{
}


@model CRM.Models.Coupon

<div class="modal fade" id="QuickViewPoup" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@(sharedResource["Coupon Details"])</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="table-card">
                        <table class="table mb-0">
                            <tbody>

                                <tr class="invisible">
                                    <td class="fw-medium">@sharedResource["CouponId"]</td>
                                    <td id="CouponId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Serial"]</td>
                                    <td id="SerialId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["ExpirationDate"]</td>
                                    <td id="ExpirationDateId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["IssueDate"]</td>

                                    <td id="Issue_Date"></td>

                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Amount"]</td>
                                    <td id="AmountId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Coupon Type"]</td>
                                    <td id="CouponTypeEN"></td>
                                </tr>
                                <tr>
                                   @* <td class="fw-medium">@sharedResource["Is used?"]</td>
                                    <td id="Used"></td>*@

                                    <td class="fw-medium">@sharedResource["Used"]</td>
                                    <td id="UsedId"></td>
                                </tr>

                            </tbody>
                        </table><!--end table-->
                    </div>
                </div>
            </div><!--end card-->
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light"
                            data-bs-dismiss="modal">
                        @sharedResource["Close"]
                    </button>


                </div>
            </div>
        </div>
    </div>
</div>
