@{
    var Whatsapp = _context.SocialMediaLinks.FirstOrDefault().WhatSapp;
}

@using Microsoft.AspNetCore.Identity
@using CRM.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject PerfumeContext _context

<link href="~/style.css" rel="stylesheet" />
<style>
    .card--sm {
        right: 120px !important;
        left: 120px !important;
      
    }
   
    .button-wrapper {
        display: flex;
        align-items: center;
    }

    .caption-wrapper {
        display: flex;
        align-items: center;
        margin-right: 40px;
        margin-left: 40px;
    }

    [type="radio"]:checked ~ .label_country {
       
         background-color: none!important; 
      
    }

    .caption {
        font-size: 12px;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 10px;
    }

    .whatsapp-icon {
        width: 2rem;
        margin-top: 0.5rem;
    }

</style>

<div class="modal fade" id="CountryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="width:max-content !important;">
            <div class="modal-body">
                <div class="container_country">
                    @{
                        var countries = _context.Country.Where(e => e.CountryId != 1 && e.IsActive == true).ToList();
                        var Kuwait = _context.Country.Where(e => e.CountryId == 1 && e.IsActive == true).FirstOrDefault();
                    }
                    <!--Kwait-->
                    <div class="option">
                        <input type="radio" name="card" id="@Kuwait.CountryId" value="@Kuwait.CountryId" checked>
                        <label class="label_country" for="@Kuwait.CountryId" aria-label="@Kuwait.CountryId">
                            <span class="span_country"></span>
                            <span style="color:black!important">
                                @Kuwait.CountryTlen</span>
                            <div class="card card--white card--sm" style=" height: 9rem!important;width: 15rem!important;" @*style="background-image: url('/@Kuwait.Pic'); background-repeat: no-repeat;background-position: center;background-size: cover;"*@>
                                <img src="/@Kuwait.Pic" style="width:100%" />
                                <div class="card__chip"></div>
                                <div class="card__content">
                                    <div class="card__text">
                                        <div class="text__row">
                                            <div class="text__loader"></div>
                                            <div class="text__loader"></div>
                                        </div>
                                        <div class="text__row">
                                            <div class="text__loader"></div>
                                            <div class="text__loader"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                    <!--End Kwait-->
                    <!--Other Countries-->
                    @foreach (var item in countries)
                    {
                        <div class="option">
                            <input type="radio" name="card" id="@item.CountryId" value="@item.CountryId">
                            <label class="label_country" for="@item.CountryId" aria-label="@item.CountryId">
                                <span class="span_country"></span>
                                <span style="color:black!important"> @item.CountryTlen</span>
                               
                                <div class="card card--white card--sm" style=" height: 9rem!important;width: 15rem!important;" @*style="background-image: url('/@item.Pic');"*@>
                                    <img src="/@item.Pic" style="width:100%" />
                                    <div class="card__chip"></div>
                                    <div class="card__content">
                                        <div class="card__text">
                                            <div class="text__row">
                                                <div class="text__loader"></div>
                                                <div class="text__loader"></div>
                                            </div>
                                            <div class="text__row">
                                                <div class="text__loader"></div>
                                                <div class="text__loader"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </label>
                        </div>
                    }
                    <!--End Other Countries-->
                    <br />
                    <div class="button-wrapper">
                        <button type="submit" onclick="Submit()" id="nextButton" class="btn common-btn two text-dark" style="color:white!important">@sharedResource["Start"]</button>
                        <div class="caption-wrapper">
                            <a href="https://wa.me/@Whatsapp" target="_blank">
                                <img class="whatsapp-icon" src="~/images/what.png" alt="WhatsApp Icon">
                            </a>
                            <span style="color: #000;font-size: 16px;" class="caption">@sharedResource["(For All Countries)"]</span>

                        </div>
                    </div>
                   @* <div style="display: inline-flex;">
                        <button type="submit" onclick="Submit()" id="nextButton" class="btn common-btn two text-dark" style="margin-right: 26px;margin-left: 26px;">@sharedResource["Start"]</button>
                        <a href="https://wa.me/@Whatsapp" target="_blank">
                            <img style="width:2rem;margin-top: 0.5rem;" src="~/images/what.png" alt="WhatsApp Icon">
                        </a>
                    </div>*@
                </div>
                <!--End offcanvas-->
            </div>
        </div>
    </div>
</div>
<!--End offcanvas-->
@*<div class="modal-backdrop fade show" id="modalBackdrop"></div>*@

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('#CountryModal').modal({
            backdrop: 'static',
            keyboard: false
        });

        $('#modalBackdrop').click(function () {
            return false;
        });


        $('#nextButton').click(function () {
            $('.modal-backdrop').remove();
        });
    });
</script>

<style>
    .modal-backdrop.fade.show {
        z-index: 1050;

    }
</style>
